{% extends "account/base.html" %}

{% block head_title %}Sign Out{% endblock %}

{% block content %}

  <div class="flex flex-col justify-center min-h-screen py-12 bg-gray-600 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <h4 class="text-3xl font-normal leading-normal mt-0 mb-2 text-gray-200">
        Are you sure you want to sign out?
      </h4>
      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}

        {% include "base_form.html" with form=form %}

        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}

        <button type="submit" class="bg-red-700 text-white active:bg-red-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">Sign Out</button>
      </form>
    </div>
  </div>

{% endblock %}
