{% extends "account/base.html" %}

{% block head_title %}Change Password{% endblock %}

{% block navbar %}{% endblock navbar %}

{% block content %}

  <div class="flex flex-col justify-center min-h-screen py-12 bg-gray-600 sm:px-6 lg:px-8">
    <div class="px-8 py-12 bg-white shadow sm:rounded-lg sm:px-10">

      <h5 class="text-2xl font-normal leading-normal mt-0 mb-2 text-gray-800">Change Password</h5>
      <p class="text-lg font-light leading-relaxed mt-6 mb-4 text-gray-800">Your password is now changed.</p>

      <form action="{% url "account_login" %}">
        <button type="submit" class="bg-indigo-600 text-white active:bg-pink-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button"
      >
          <i class="fas fa-heart"></i> Now Login
        </button>
      </form>

    </div>
  </div>
{% endblock %}
