{% extends "account/base.html" %}

{% block head_title %}Set Password{% endblock %}

{% block content %}

    <div class="flex flex-col justify-center min-h-screen py-12 bg-gray-600 sm:px-6 lg:px-8">
      <div class="px-8 py-12 bg-white shadow sm:rounded-lg sm:px-10">

        <h5 class="text-2xl font-normal leading-normal mt-0 mb-2 text-gray-800">Set Password</h5>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">

        {% csrf_token %}

        {% include "base_form.html" with form=form %}

        <button type="submit" class="flex justify-center px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
            Set Password
        </button>

    </form>

      </div>
    </div>

{% endblock %}
