{% extends "account/base.html" %}

{% load account %}

{% block head_title %}Password Reset{% endblock %}

{% block navbar %}{% endblock navbar %}

{% block content %}

  <div class="flex flex-col justify-center min-h-screen py-12 bg-gray-600 sm:px-6 lg:px-8">
    <div class="px-8 py-12 bg-white shadow sm:rounded-lg sm:px-10">

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="mt-4 text-xl font-light leading-relaxed mt-6 mb-4 text-gray-800"><span class="text-2xl antialiased pb-1">Forgotten your password? </span><br />Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>

    <div class="mt-4">
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}

        {% include "base_form.html" with form=form %}

        <button type="submit" class="flex justify-center px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
          Reset My Password
        </button>
    </form>
    </div>

    <p class="mt-4 text-lg font-light leading-relaxed mt-6 mb-4 text-gray-800">Please contact us if you have any trouble resetting your password.</p>

    </div>
  </div>

{% endblock %}
