{% extends "base.html" %}
{% load static %}
{% block title %}
  notifications
{% endblock title %}

{% block content %}

<div class="p-relative h-screen" style="background-color: #15202b">
    <div class="flex justify-center">
        {% include "includes/left_sidebar.html" %}
        <main role="main">
          <div class="flex" style="width: 990px;">
            <section class="w-3/5 border border-y-0 border-gray-800" style="max-width:600px;">
              <!--Content (Center)-->
              <aside>
                <div class="flex">
                  <div class="flex-1 mx-2">
                    <h2 class="px-4 py-2 text-xl font-semibold text-white">notifications</h2>
                  </div>
                </div>
              </aside>
              <hr class="border-gray-800">
              {% for follow_notification in follow_notifications %}
              <div class="flex rounded-lg bg-dim-700 overflow-hidden shadow-lg m-1">
                <a class="flex-1" href="{% url "profile" username=follow_notification.user.username %}">
                  <div class="flex">
                    <img class="inline-block h-10 w-10 rounded-full ml-4 my-5" src="{{ follow_notification.user.profile.avatar.url }}" alt="">
                    <div class="pl-4 py-4">
                      <p class="text-base leading-6 font-medium text-white">
                      {{ follow_notification.user.first_name|default:follow_notification.user.username }}
                      </p>
                      <p class="text-base leading-6 font-medium text-white">
                      {{ follow_notification.verb }} you.
                      </p>
                    </div>
                  </div>
                </a>
                <div class="flex-1">
                  <p class="py-6 pl-32 text-base leading-6 font-medium text-white">
                    {{ follow_notification.created|timesince }} ago
                  </p>
                </div>
              </div>
              {% endfor %}
                <!-- HERE -->
                </section>
                {% include "includes/right_sidebar.html" %}
            </div>
          </main>
      </div>
  </div>
  {% include "includes/style.html" %}

  {% endblock content %}
