{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>{% block title %}Twitter Clone{% endblock title %}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "css/style.min.css" %}">
    <link rel="shortcut icon" href="{% static "favicon.ico" %}">
    <link rel="icon" href="{% static "favicon.ico" %}">

    <!-- Custom js -->
    <script src="{% static 'js/base.js' %}" defer></script>
    {% block scripts %}
    {% endblock scripts %}
    {% block head %}
    {% endblock head %}
  </head>

  <body>

    {% block messages %}
    {% if messages %}
      {% for message in messages %}
        <div class="text-white px-6 py-4 border-0 rounded relative mb-1 bg-blue-500">
          <span class="text-xl inline-block mr-5 align-middle">
            <i class="fas fa-bell"></i>
          </span>
          <span class="inline-block align-middle mr-8">
            {{ message }}
          </span>
          <button class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none" onclick="closeAlert(event)">
            <span>×</span>
          </button>
        </div>
      {% endfor %}
    {% endif %}
    {% endblock messages %}



    {% block content %}
    {% endblock content %}

    <script src="https://kit.fontawesome.com/faa629c1cc.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@popperjs/core@2.9.1/dist/umd/popper.min.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  </body>
</html>
