{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>{% block title %}Twitter Clone{% endblock title %}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "css/style.min.css" %}">
    <link rel="shortcut icon" href="{% static "favicon.ico" %}">
    <link rel="icon" href="{% static "favicon.ico" %}">

    <!-- Custom js -->
    <script src="{% static 'js/base.js' %}" defer></script>
    {% block scripts %}
    {% endblock scripts %}
    {% block head %}
    {% endblock head %}
  </head>

  <body>

    {% block messages %}
    {% if messages %}
      {% for message in messages %}
        <div class="text-white px-6 py-4 border-0 rounded relative mb-1 bg-blue-500">
          <span class="text-xl inline-block mr-5 align-middle">
            <i class="fas fa-bell"></i>
          </span>
          <span class="inline-block align-middle mr-8">
            {{ message }}
          </span>
          <button class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none" onclick="closeAlert(event)">
            <span>×</span>
          </button>
        </div>
      {% endfor %}
    {% endif %}
    {% endblock messages %}


<div class="flex flex-wrap">
  <div class="w-full">
{% block navbar %}
    <nav class="relative flex flex-wrap items-center justify-between px-2 py-3 bg-gray-600">
      <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
        <div class="w-full relative flex justify-between lg:w-auto px-4 lg:static lg:block lg:justify-start">
          <a class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-white" href="{% url "home" %}">
            Twitter Clone
          </a>
          <button class="text-white cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none" type="button" onclick="toggleNavbar('example-collapse-navbar')">
            <i class="fas fa-bars"></i>
          </button>
        </div>
        <div class="lg:flex lg:flex-grow items-center hidden" id="example-collapse-navbar">
          <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
            <li class="nav-item">
              <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" href="{% url "about" %}">
                About
              </a>
            </li>
            <li class="nav-item">
              <div class="flex flex-wrap">
                <div class="w-full sm:w-6/12 md:w-4/12 px-4">
                  <div class="relative inline-flex align-middle w-full">
                    <button class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" type="button" onclick="openDropdown(event,'dropdown-id')">
                      Settings
                    </button>
                    <div class="hidden bg-white  text-base z-50 float-left py-2 list-none text-left rounded shadow-lg mt-1" style="min-width:12rem" id="dropdown-id">
                      <a href="{% url "edit_profile" %}" class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">
                        Edit Profile
                      </a>
                      <a href="{% url "account_email" %}" class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">
                        Email
                      </a>
                      <a href="{% url "account_change_password" %}" class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">
                        Change Password 
                      </a>
                      <a href="{% url "account_logout" %}" class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">
                        Logout
                      </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
      </div>
  </div>
{% endblock navbar %}

{% block sidebar %}
<div class="flex">
  <div class="h-screen sticky p-8 bg-gray-700 flex-col" style="width: 325px;">
    <!-- Note: add overflow-y-scroll if sidebar content is longer than page -->
    <div class="col-span-12 w-full px-3 py-6 justify-center flex space-x-4 border-b border-solid md:space-x-0 md:space-y-4 md:flex-col md:col-span-2 md:justify-start ">
      <a href="{% url "home" %}" class="text-l p-4 bg-indigo-100 text-center rounded font-semibold hover:bg-indigo-700 hover:text-gray-200">
        <i class="fas fa-home mr-4"></i>
        Home
      </a>
      <a href="#" class="text-l p-4 bg-indigo-100 text-center rounded font-semibold hover:bg-indigo-700 hover:text-gray-200">
        <i class="fas fa-bell mr-4"></i>
        Notifications
      </a>
      <a href="{% url 'profile' request.user.username %}" class="text-l p-4 bg-indigo-100 text-center rounded font-semibold hover:bg-indigo-700 hover:text-gray-200">
        <i class="fas fa-user mr-4"></i>
        Profile
      </a>
    </div>
  </div>
  
  <div class="flex-grow bg-gray-400">
    {% block tweets %}
    {% endblock tweets %}
  </div>
  <div class="h-screen sticky p-4 bg-gray-700" style="width: 325px;">
    <!-- Note: add overflow-y-scroll if sidebar content is longer than page -->
  </div>

</div>

{% endblock sidebar %}

{% block content %}
{% endblock content %}

    <script src="https://kit.fontawesome.com/faa629c1cc.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@popperjs/core@2.9.1/dist/umd/popper.min.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  </body>
</html>
